<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kurban.xue_hua_file_operations">
    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.xue_hua_file_operations.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xue_hua_file_operations_file_paths" />
        </provider>
    </application>
</manifest>
