<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kurban.xue_hua_file_operations">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="*" />
        </intent>
    </queries>

    <application>
        <provider
            android:name="com.kurban.xue_hua_file_operations.XueHuaFileOperationsFileProvider"
            android:authorities="${applicationId}.xue_hua_file_operations.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xue_hua_file_operations_file_paths" />
        </provider>
    </application>
</manifest>
